* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* margin: 0; */
}

header {
  display: flex;
  background-color: #d1d1d1;
  /* height: 10vh; */
}

footer {
  background-color: #d1d1d1;
  /* height: 10vh; */
}

.main {
  display: flex;
  flex: 1;
}

.nav {
  display: flex;
  flex-direction: column;
  font-size: large;
  padding-inline: 1%;
  padding-block: 1%;
  /* background-color: #ebecea; */
}

.nav-link-one {
  position: sticky;
  top: 1px;
  background-color: #d1d1d1;
  padding-inline: 4px;
  border: 2px solid #000000;
  margin-bottom: 1px;
}
.nav-link-two {
  position: sticky;
  top: 48px;
  background-color: #d1d1d1;
  padding-inline: 4px;
  border: 2px solid #000000;
  margin-bottom: 1px;
}
.nav-link-three {
  position: sticky;
  top: 95px;
  background-color: #d1d1d1;
  padding-inline: 4px;
  border: 2px solid #000000;
  margin-bottom: 1px;
}
.nav-link-four {
  position: sticky;
  top: 121px;
  background-color: #d1d1d1;
  padding-inline: 4px;
  border: 2px solid #000000;
  margin-bottom: 1px;
}
.nav-link-five {
  position: sticky;
  top: 168px;
  background-color: #d1d1d1;
  padding-inline: 4px;
  border: 2px solid #000000;
  margin-bottom: 1px;
}
.nav-link-six {
  position: sticky;
  top: 215px;
  background-color: #d1d1d1;
  padding-inline: 4px;
  border: 2px solid #000000;
  margin-bottom: 1px;
}



@media screen and (max-width: 575px) {
  .main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: small;
  }
  
  .nav 
  .nav-link-one,
  .nav-link-two,
  .nav-link-three,
  .nav-link-four,
  .nav-link-five,
  .nav-link-six  {
    position: static;
    background-color: #d1d1d1;
    font-size: small;
  }
}
